


/* Initial style code */

  body {
    min-width:0px;  
    overflow-x:hidden;
    font-family: Tahoma, sans-serif;
    font-size: 12px;
  }

  img {
    margin:5px;
    border:5px solid black;
    vertical-align:middle;
    width:75px;
    height:75px;
  }


/* Style for the To Do*/

  header, section, footer { display: block; }
  #container { background-color: #eee; margin: 50px auto; width: 300px; border: 4px solid #222; }
  header h1 { text-align: center; margin: 0; padding: 15px 0;}
  label { display: block; padding-bottom: 5px; text-align: center; }
  #task { border: 1px solid #888; margin-left: 50px; width: 200px; }
  #tasks { margin: 20px; padding: 0; }
  #tasks li { list-style-type: none; padding: 5px; }
  #tasks li:nth-child(2n) { background-color: #e8e8e8; }
  #tasks li:nth-child(2n+1) { background-color: #ddd; }
  #tasks li:hover { background-color: #ccc; }
  #tasks li a { color: red; display: block; float: right; text-decoration: none; }
  footer { background-color: #000; color: #aaa; padding: 20px; }
  footer a { color: #aaa; }
  footer a:hover { color: #eee; }